@mixin line-bellow($color) {
   &:after {
      content: '';
      display: block;
      width: 200px;
      height: 2px;
      background: $color;
      margin-top: .8rem;
   }
}
@mixin line-bellow($color, $width, $margin-top) {
   &:after {
      content: '';
      display: block;
      width: $width;
      height: 2px;
      background: $color;
      margin: $margin-top;
   }
}

/*Overlay slider */

@mixin overlay-color($color, $opacity) {
      position: relative;
      &:after{
         content: '';
         display: block;
         position: absolute;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
         background: $color;
         opacity: $opacity;
         z-index: 2;
      }
      .take-over{
         position: relative;
         z-index: 22;
      }
}

/*align center using flex box*/
@mixin align-center {
  
   display: flex;
   align-items: center;
}